[user]
    email = timothykeith@gmail.com
    name = Timothy Keith
    signingkey = 4135C5931D89368E7F32C8EDF4F4A135C022EE12

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
	ui = true

[core]
	excludesfile = ~/.gitignore

[receive]
    denyCurrentBranch = updateInstead