# absolutely haram
.emacs

# other stuff...
*~
.bash_history
bin/autostart
bin/piu
.cache/
.config/dconf
.config/gtk*
.config/k*
.config/KDE
.config/lib*
.config/plasma*
.config/pulse
.config/*rc
.config/remind/google-calendar
.config/session/
.config/Trolltech.conf
.config/user-dirs.locale
.config/vlc/
.config/xsettingsd/
Desktop/
Documents/
.esd_auth
.fonts
.gem
.google_authenticator
.gtkrc-2.0
.i18n
.kde4/        
.lesshst
.local/bin
.local/share/
lost+found/
.mozilla
.ssh
.sudo_as_admin_successful
.xim.template
.z
.zcompdump*
.zgen/
