[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true

[merge]
    tool = sublimerge
    
[mergetool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
	trustExitCode = false

[diff]
	tool = sublimerge

[difftool "sublimerge"]
	cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"

[receive]
    denyCurrentBranch = updateInstead
    
[alias]
    history = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --date-order
    pushall = !git remote | xargs -L1 git push --all
    forcepostreceive = !git commit --amend --no-edit && git push -f live

[gpg]
    program = gpg2

[credential]
    helper = cache
[core]
    editor = nvim
	excludesfile = /Users/timothy/.gitignore_global
[protocol]
	version = 2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = beyondmeh
	email = me@beyondmeh.com
