[user]
    email = timothykeith@gmail.com
    name = Timothy Keith
    signingkey = 46E69F6990C1DE8C979188EE94A4E2D46B32AA11

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true

[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[diff]
    tool = vimdiff

[receive]
    denyCurrentBranch = updateInstead
    
[alias]
    history = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --date-order
    pushall = !git remote | xargs -L1 git push --all
    forcepostreceive = !git commit --amend --no-edit && git push -f live

[gpg]
    program = gpg2

[credential]
    helper = cache
[core]
    editor = nvim
