.config/remind/google-calendar
bin/autostart
bin/piu
lost+found/
.local/share/nvim/plugged
.local/share/nvim/shada
.zgen/
.zcompdump*
.bash_history
.ssh/id_*
.ssh/known_hosts
.ssh/authorized_keys
.google_authenticator