#include "dotfiles/Xresources.d/raven-dark"

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.font: -*-terminus-*-*-*-*-14-*-*-*-*-*-*-*

URxvt.perl-ext-common: default,matcher,selection-to-clipboard

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.scrollColor: #2B2B2B
URxvt.troughColor: #030303

Xcursor.theme: Gruppled White
