[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Autostart Directory
Comment=Run everything in ~/.config/autostart
Exec=run-parts /home/timothy/.config/autostart
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

