!===============================================!
!   Xorg Defaults                               !
!===============================================!

Xcursor.theme: ATER_Blue


!===============================================!
!  Fonts
!===============================================!

Xft.antialias: 1
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight


!===============================================!
!  URxvt                                        !
!===============================================!

! path relative to ~/dotfiles
#include "../rxvt/.config/rxvt/urxvt"
#include "../rxvt/.config/rxvt/color-schemes/base16-darktooth-256"
