set bell-style visible             # no beep
set mark-symlinked-directories on  # add slash to syslink dirs

set completion-ignore-case on      # case insensitive file completion 

# Up and down arrow history searching
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
