!===============================================!
!   Xorg Defaults                               !
!===============================================!
Xcursor.theme: Gruppled White


!===============================================!
!  URxvt                                        !
!===============================================!

#include ".config/rxvt/urxvtrc"
#include ".config/rxvt/raven-dark"
