!===============================================!
!   Xorg Defaults                               !
!===============================================!

Xcursor.theme: Gruppled White


!===============================================!
!  Fonts
!===============================================!

Xft.antialias: 1
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight


!===============================================!
!  URxvt                                        !
!===============================================!

#include ".config/rxvt/urxvt"
#include ".config/rxvt/color-schemes/base16-darktooth-256"
