################################################################################
# 2019-01-01 Mozilla Recommendations
# https://infosec.mozilla.org/guidelines/openssh#modern-openssh-67
################################################################################

# Supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# LogLevel VERBOSE logs user's key fingerprint on login. Needed to have a clear audit track of which key was using to log in.
LogLevel VERBOSE

################################################################################
# end mozilla recommendations
################################################################################


## General Settings
################################################################################
Port 22
Protocol 2
TCPKeepAlive yes

# Logging
SyslogFacility AUTH

# check file permissions
StrictModes yes


## Authentication
################################################################################

# pubkey logins only
PermitEmptyPasswords no
PasswordAuthentication no
PubkeyAuthentication yes

PermitRootLogin no

# rhost crap
HostbasedAuthentication no
IgnoreRhosts yes

## Timeouts
################################################################################

# 30 seconds to send login info on connect
LoginGraceTime 30

MaxAuthTries 2

# Max of 5 minutes idling before disconnect
ClientAliveInterval 300
ClientAliveCountMax 0


## MOTD / Banner
################################################################################
Banner /etc/issue.net
PrintMotd no
PrintLastLog yes


## Tunneling and Xorg
################################################################################

#X11Forwarding yes
#X11DisplayOffset 10
X11Forwarding no


## Other Settings - (Distro Defaults)
################################################################################

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes
