.budgie-panel { 
	background-image: none; 
	border: 0; 
	background-color: alpha(#2F343F, 0.8); 
}

.header-bar.default-decoration {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.6em;
}
   
.header-bar.default-decoration .button.titlebutton {
    padding: 0px;
}
